body {
    background: rgb(255,255,255);
    background: linear-gradient(124deg, rgba(255,255,255,1) 0%, rgba(255,248,0,1) 50%);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

#alice-container {
    width: 90vh;
    display: grid;
    place-items: center;
    grid-template-areas:
        "a1 . ."
        ". a2 ."
        ". . a3";
}

#alice1 {
    grid-area: a1;
}

#alice2 {
    grid-area: a2;
}

#alice3 {
    grid-area: a3;
}